.marker-dot {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: #f80;
}

.marker-icon {
    height: 28px;
    width: 28px;
    background-color: lightgray;
    border-radius: 5px;
    color: #f80;
    font-size: 150%;
    text-align: center;
    border: 1px solid black;
}