@page "/markerstyles/create"
@inherits AuthorizedComponentBase

<div class="container pt-4">
    <h1>Neuer Marker Stil</h1>

    <div class="mb-3">
        <label class="form-label">Stilname *</label>
        <input type="text" class="form-control" @bind=MarkerStyle.StyleName />
        <FormError ErrorBag=ErrorBag Key="MarkerStyle.StyleName" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" disabled=@Submitting @onclick=CreateMarkerStyle>Erstellen</button>

        <FormError ErrorBag=ErrorBag Key="ServerError" />
    </div>
</div>