<div class="mb-3">
    <label class="form-label">Neues Passwort (Mindestens 12 Zeichen)</label>
    <div class="input-group mb-3">
        <input type="@(ShowPassword ? "text" : "password")" class="form-control"
               @bind=Password @bind:event="oninput" @onkeypress=PasswordKeyPressed />
        <button class="btn btn-primary" type="button" @onclick=ToggleShowPassword>
            <i class="bi @(ShowPassword ? "bi-eye-slash-fill" : "bi-eye-fill")"></i>
        </button>
        <button class="btn btn-primary" type="button" @onclick=RandomizePassword>
            <i class="bi bi-dice-5-fill"></i>
        </button>
    </div>

    <label class="form-label">Neues Passwort Wiederholen</label>
    <div class="input-group mb-3">
        <input type="@(ShowPassword ? "text" : "password")" class="form-control"
               @bind=PasswordRepeat @bind:event="oninput" @onkeypress=PasswordKeyPressed />
        <button class="btn btn-primary" type="button" @onclick=ToggleShowPassword>
            <i class="bi @(ShowPassword ? "bi-eye-slash-fill" : "bi-eye-fill")"></i>
        </button>
        <button class="btn btn-primary" type="button" @onclick=RandomizePassword>
            <i class="bi bi-dice-5-fill"></i>
        </button>
    </div>

    <FormError ErrorBag=ErrorBag Key="User.Password" />
    <FormError ErrorBag=ErrorBag Key="ServerError" />
    <div class="mb-3" style="display: flex; justify-content: end;">
        <button class="btn btn-primary" type="button" @onclick=Update>
            <span>Passwort Aktualisieren</span>
        </button>
    </div>
</div>