@using PiratenKarte.Client.Services;
@inherits LayoutComponentBase

<div class="page" style="height: 100%;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="height: 100%; overflow-y: scroll;">
        @Body
    </main>
</div>

@code {
    [Inject]
    public required NavigationManager NavManager { get; init; }
    [Inject]
    public required AuthenticationStateService AuthStateService { get; init; }

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();

        if (AuthStateService.GetLoginState() != LoginState.LoggedIn)
            NavManager.NavigateTo("/signin");
    }
}