@page "/settings"

<div class="container mt-3">
    <h3>Lokale Einstellungen</h3>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" @bind=UseLocalStorage>
        <label class="form-check-label">
            Einstellungen lokal Speichern (Nutzt lokalen Speicher des Browsers, wie Cookies, nur besser!)
        </label>
    </div>
</div>